%%-*- mode: erlang -*-
{deps, [
	{cowboy, ".*", {git, "git://github.com/kislayentronic/cowboyold.git", "master"}},
	{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
	{socketio, ".*", {git, "git://github.com/kislayentronic/erlang-scoketio.git", "master"}}
]}.
{erl_opts, [{parse_transform, lager_transform}, {lager_truncation_size, 1024}]}.